$light_cyan_color: hsl(193, 38%, 86%);
$neon_green_color: hsl(150, 100%, 66%);

$grayish_blue_color: hsl(217, 19%, 38%);
$dark_grayish_blue_color: hsl(217, 19%, 24%);
$dark_blue_color: hsl(218, 23%, 16%);